/* globals.css */
:root {
  --background: #000000; /* Preto */
  --foreground: #FFFFFF; /* Branco */
  --navbar-background: #2c2c2c; /* Cinza grafite */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FFFFFF;
    --navbar-background: #2c2c2c;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}
